<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/safetravels.css') }}">
        <script src="https://kit.fontawesome.com/69f4ec8e86.js" crossorigin="anonymous"></script>
    </header>
    
<body class="loginWidth changePassword">
    <span class="backArrow"><a href="forgetPassword"><i class="fa-regular fa-circle-left"></i></a></span>
    <h1 style="text-align: center">Change Password</h1>
    <form class="changePasswordForm" method = "POST">
        <div>
            <label for = "emailAddress">Email</label><br>
            <input class="fullWidth" name = "emailAddress"/>
        </div>
        <div class="inputBox">
            <label for = "password">Password</label><br>
            <input name="password" type="password" id="passwordInput"/>
            <i class="fa-regular fa-eye-slash showPassword" id="showPassword"></i>
        </div>
        <div class="inputBox">
            <label for = "confirmPassword"> Confirm Password </label><br>
            <input name = "confirmPassword" type="password" id="passwordInput2"/>
            <i class="fa-regular fa-eye-slash showPassword" id="showPassword2"></i>
        </div>
        <div class="submitButton">
            <button type = "submit" class = "btn btn-primary"> Submit</button>
        </div>
    </form>
</body>
<script src="{{ url_for('static', filename='JS/safetravels.js') }}"></script>

</html>