<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/safetravels.css') }}">
    <title>Forget Password</title>
    <script src="https://kit.fontawesome.com/15d11a4d8d.js" crossorigin="anonymous"></script>
</head>

<body class="loginWidth forgetPassword">
    <span class="backArrow"><a href="loginCustomer"><i class="fa-regular fa-circle-left"></i></a></span>
    <h1 style="text-align: center">Forget Password</h1>
    <form method = "POST">
        <div>
            <label for = "emailAddress">Email</label>
            <input name = "emailAddress"/>
        </div>
        <h3 style="margin-top: 50px">Please answer these security questions.</h3>
        <div>
            <label for = "answerOne">What city were you born in?</label>
            <input name = "answerOne"/>
        </div>
        <div>
            <label for = "answerTwo">What is the name of your high school?</label>
            <input name = "answerTwo"/>
        </div>
        <div>
            <label for = "answerThree">What is your mother's maiden name</label>
            <input name = "answerThree"/>
        </div>
        <div class="submitButton">
            <button type ="submit" class = "btn btn-primary"> Submit</button>
        </div>
    </form> 
</body>
</html>
