<h1>For Payment of {{ message }}</h1>
<form method = "POST">
    <h3 style="margin-top: 50px">Please Enter the Card Details</h3>
    <div>
        <label for = "cardNumber">Please enter the Card number</label>
        <input name = "cardNumber"/>
    </div>
    <div>
        <label for = "expiry">Please enter the expiry of card</label>
        <input name = "expiry"/>
    </div>
    <div>
        <label for = "nameCard">Please enter the name on the card</label>
        <input name = "nameCard"/>
    </div>
    <div>
        <label for = "CVV">Please enter the CVV on the card</label>
        <input name = "CVV"/>
    </div>
    <div class="submitButton">
        <button type ="submit" class = "btn btn-primary"> Submit</button>
    </div>
</form> 